body {
    background-color:#E9573F;
 
/*    vertical-align: middle;*/
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
	background: #A5281B;
}

.bob {
	text-align: center;
/*	border: 2px dotted pink;*/
	background-color:#E9573F;
	position:absolute;
	width:300px;
    height:520px;

    top:50%;
    left:50%;
    margin:-260px 0 0 -150px;
/*	width: 47%; */

}


.container {
	background-color:#E9573F;
/*	border: 2px solid blue;*/
	display: inline-block;
    vertical-align: middle;
/*	height: 100px;
	width: 100px;*/
}

.DivHelper {
    display: inline-block;
    vertical-align: middle;
/*    height:100%;*/
}

.mainMenu nav {
/*	border: 2px solid white;*/
	text-align: center;
	position: relative;
	font-size: 54px;
/*	margin-top: 10%;*/
/*	-webkit-transform: translateY(50%);
	transform: translateY(50%);*/
}

.mainMenu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.mainMenu ul li {
	display: block;
	height: 20%;
	min-height: 54px;
}

.mainMenu ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
    text-decoration:none;
}

.mainMenu ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

.image {
/*	border: 2px solid black;*/
	text-align: center;
	margin-top: 50px;
}
/* .menu {
    font-family: helvetica;
    font-size: 20px;
}

.a {
    color:
} */