body {
    background-color:#E9573F;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.50em;
    text-align: center;
    color: white;
}

.container {
    position:absolute;
    width:900px;
    height:600px;

    top:50%;
    left:50%;
    margin:-300px 0 0 -450px;
}

.leftcolumn { 
    width: 47%;
    height: 400px;
    margin-top: 100px; 
    border-right: 4px solid white; 
    float: left;
    text-align: center;
}

.leftcolumn * {
    vertical-align: middle;
}

.leftcolumn {
    display: block;
}
.leftcolumn span {
    display: inline-block;
    height: 100%;
    width: 1px;
}

.rightcolumn { 
    width: 47%; 
    height: 100%;
    float: right;
}

.rightColumnContainer {
    display: inline-block;
    vertical-align: middle;
}

.DivHelper {
    display: inline-block;
    vertical-align: middle;
    height:100%;
}

#imagedest {
    position:absolute;
    zoom: 0.2;
    right: 0;
    bottom: 500px;
}

label {
    cursor:pointer;
}

input[type="radio"]{
    
    width: 19px;
    height: 19px;
    margin: 0 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}